<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log in</title>
</head>
<body>
    <% if (locals.user) {%>
        <h1>already logged in <%= user.username %></h1>
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <h1>log in</h1>
        <div>
        </div>
        <form action="/login" method="POST">
            <label for="username">Username</label>
            <input id="username" name="username" placeholder="username" type="text" />
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />
            <button>Log In</button>
          </form>
    </form>
    <%}%>
</body>
</html>