<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secret?</title>
</head>
<body>
    <% if (locals.user) {%>
        <% if (locals.user.membership_status == false) {%>
            <form action="/secret" method="POST">
                <input type="text" name="secret" placeholder="whats the secret password?">
                <button type="submit">
                    submit
                </button>
            </form>
        <% } else { %>
            <div>nice you found the secret!</div>
        <%}%>
        
      <% } else { %>
        <div>secret :D</div>
    <%}%>
</body>
</html>