<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secret?</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <%- include('components/header', {user: user}); %>
    <% if (locals.user) {%>
        <% if (locals.user.membership_status == false) {%>
            <form action="/secret" method="POST">
                <input type="text" name="secret" placeholder="whats the secret password?">
                <button type="submit">
                    submit
                </button>
            </form>
        <% } else { %>
            <div>nice you found the secret!</div>
        <%}%>
      <% } else { %>
        <div class="login-error-container"> 
            <span>you need to <a href="/login">login</a> first!</span>
        </div>
    <%}%>
</body>
</html>